<!DOCTYPE html>
<html>

<head>
    <title>Inspecthoa</title>
    <script>
        function downloadFile(filename) {
            window.location.href = `/api/download/${filename}`;
        }
        document.addEventListener('DOMContentLoaded', function () {
            const fetchDataButton = document.getElementById('fetch-data');
            const dataContainer = document.getElementById('data-container');
            const uploadFiles = document.getElementById('publish-file-data');
            const authToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ikluc3BlY3RIb2EiLCJpYXQiOjE1MTYyMzkwMjJ9.KVI2KIJSp_GFhWyBVFUiiOcvcT9CilfzYj0d_wnw4Hc";
            const headers = {
                "Authorization": `Bearer ${authToken}`,
            }

            fetchDataButton.addEventListener('click', function () {
                fetch('/api/files', { headers })
                    .then(response => response.json())
                    .then(data => {
                        dataContainer.innerHTML = '<h2>Request Data from API:</h2>';
                        data.forEach(item => {
                            dataContainer.innerHTML += `
                                <div>
                                    <p>FileName: ${item.filename}</p>
                                    <p>Result: ${item.response}</p>
                                    <button onclick="downloadFile('${item.filename}')">Download</button>
                                </div>`;
                        });
                    })
                    .catch(error => console.error('Error fetching data: ', error));
                
            });

            uploadFiles.addEventListener('submit', function (event) {
                event.preventDefault();
                const fileInput = document.querySelector('input[type="file"]');
                const file = fileInput.files[0];
                console.log('herrere', file)

                if (!file) {
                    alert("Please select a file to upload.");
                    return;
                }

                const formData = new FormData();
                formData.append("file", file);
                fetch('/api/compute', { method: 'POST', body: formData, headers })
                    .then()
                    .then(data => {

                    })
                    .catch(error => console.error('Error fetching data: ', error));
            });
        });
    </script>
</head>

<body>
    <h1>Compute Your File!</h1>
    <p>This is a assignment project with a simple frontend.</p>
    <!-- <button id="publish-file-data">Upload File</button> -->

    <button id="fetch-data">Fetch API Data</button>

    <div id="data-container">
        <!-- Data fetched from the API will be displayed here -->
    </div>

    <h2>Upload a File</h2>
    <form id="publish-file-data" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv, .xlsx">
        <input id="publish-file-data" type="submit" value="Upload">
    </form>
</body>

</html>